
body {
    background: url(https://sterlingboardingpass.com/AlternativeOnlineAccount/img/retros/sterling_retro_bg_4Copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: red;
}

img {
    padding: 4%;
}

.in {
    border-bottom: 1px solid pink;
    padding: 8px;
   
}

.row {
    border-bottom: 1px solid pink;
    padding: 8px;
    margin: auto;
}

.landingpage {
    background-color: rgb(250, 246, 246);
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid pink;
}

.form-control {
    text-align: center;
}

h6 {
    text-align: center;
}

label {
    margin-bottom: 0rem;
    display: block;
}

.lastpage {
    background-color: rgb(145, 172, 103);
    border-radius: 2px rgb(188, 209, 188);
}

#lastbutton {
    margin: auto 46%;
}

a{
    text-decoration: white;
}

.every{
    margin-left: 28%;
    margin-right: 10%;
    border: 1px solid rgba(206, 200, 207, 0.993);

}
.confirmation{
    text-align: center;
    padding: 15px;
}

.one{
    border: 1px solid rgba(249, 236, 250, 0.993);
}

.two{
    border: 1px solid rgba(249, 236, 250, 0.993);
}

.three{
    border: 1px solid rgba(249, 236, 250, 0.993); 
}

collage{
            width: 50%;
            margin: auto 25%;
}
.in {
    border-bottom: 1px solid pink;
    padding: 8px;
}
.modal-title{
  text-align: center;
}


.welcome{
    margin-right: 35%;
    margin-left: 35%;
}
.head{
    margin-left: 190px;
}

#photo {
    width: 120px;
 }

 .alert {
    position: relative;
    padding: 8.75rem 10.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

    